<div th:fragment="navigation">
    <nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navbar-header">

            </div>
            <ul class="nav navbar-nav">
                <li ><a class="nav-link" th:href="@{/question/all_questions}">All Questions</a></li>
                <li ><a class="nav-link" th:href="@{/question/add_question}">Add Question</a></li>
                <li ><a class="nav-link" th:href="@{/question/easy_questions}">Easy Questions</a></li>
                <li ><a class="nav-link" th:href="@{/question/medium_questions}">Medium Questions</a></li>
                <li ><a class="nav-link" th:href="@{/question/hard_questions}">Hard Questions</a></li>
                <li ><a class="nav-link" th:href="@{/question/generate_questions}">Question Set Generation</a></li>
                <li ><a class="nav-link" th:href="@{/file/}">File uploader</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            </ul>
        </div>
    </nav>
</div>