<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Question List</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <style type="text/css">
        .centerDiv {
            position: fixed;
            top: 20%;
            left: 50%;
            /* bring your own prefixes */
            transform: translate(-50%, -50%);
        }
    </style>
</head>

<body>
<div lang="en" th:include="fragments/navigation :: navigation"></div>
<div class="centerDiv">
<h2>File Upload & Data Save Page</h2>

    <form th:action="@{/file/uploadFile}" method = "POST" enctype = "multipart/form-data">
        <br /> <br />
        Please select a file to upload :
        <input type = "file" name = "file" value = "Browse File" /> <br /> <br />
        Press here to upload the file :
        <input type = "submit" value = "upload" /> <br /> <br />

        <div th:if="${message}">
            <h2 th:text="${message}"/>
        </div>

        Do you want to save excel data into database ? <a th:href="@{/file/saveData}"><b>Yes</b></a> &nbsp &nbsp <a th:href="@{/file/}"><b>No</b></a>
    </form>
</div>
</body>
</html>